<?php  // Moodle configuration file

unset($CFG);
global $CFG;
$CFG = new stdClass();

$CFG->dbtype    = 'mariadb';
$CFG->dblibrary = 'native';
$CFG->dbhost    = 'localhost';
$CFG->dbname    = 'moodle';
$CFG->dbuser    = '{{username}}';
$CFG->dbpass    = '{{password_user}}';
$CFG->prefix    = 'mdl_';
$CFG->dboptions = array (
'dbpersist' => 0,
'dbport' => 3306,
'dbsocket' => '/run/mysqld/mysqld.sock',
'dbcollation' => 'utf8mb4_general_ci',
);

$CFG->wwwroot   = 'http://{{ip_host}}/moodle';
$CFG->dataroot  = '/var/{{name_moodledata_folder}}';
$CFG->admin     = 'admin';

$CFG->directorypermissions = 0777;

require_once(__DIR__ . '/lib/setup.php');

// There is no php closing tag in this file,
// it is intentional because it prevents trailing whitespace problems!
?>


